.idea/
*.iml
*.log

go-raspberry-pi-timelapse
timelapse-pictures/
timelapse-settings.db

# C++ build artifacts
cpp-object-detection/build/
cpp-object-detection/_codeql_build_dir/
cpp-object-detection/models/*.onnx
cpp-object-detection/models/*.weights
cpp-object-detection/models/*.yaml
cpp-object-detection/detections/
_codeql_detected_source_root
