[Unit]
Description = Start Timelapse 
After = network.target
[Service]
ExecStart = /home/pi/go-raspberry-pi-timelapse/bin/arm/go-raspberry-pi-timelapse -port=:8080 -logToFile=true -secondsBetweenCaptures=1800 -storageFolder=/home/pi/timelapse-pictures/
[Install]
WantedBy = multi-user.target
